@font-face { font-family: HeaderFont; src: url('../fonts/CGF Locust Resistance.ttf'); }

body {
    color: white;
    background-image: url("../images/background2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container { padding-top: 15px; width: 100%; }

nav, input, button, .infoText { background-color: rgba(0, 0, 0, 0.9); }

input, button { border-radius: 15%; padding-left: 10px; }

#infoBox { text-align: center; }

#loadingImage, .titleText h1, .titleText h2, .titleText h3 {
    position: fixed;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}


.jumbotron {
    display: none;
    margin-top: 25px;
    padding: 0;
    background: none;
    }
    .backgroundImage {
        margin-top: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
        width: 100%;
        background-position: center;
        filter: blur(2px);
    }
    .titleText h1, .titleText h2, .titleText h3 {
        width: 700px;
        transform: translate(-50%, -50%);
        z-index: 1;
        font-family: HeaderFont;
        text-align: center;
        top: 30%;
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
        }
        .titleText h1 {
            border-top-right-radius: 80px;
            border-bottom-left-radius: 50px;
        }
        .titleText h2 {
            position: relative;
            top: 250px;
            width: 100%;
        }
        .titleText h3 {
            width: 300px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            font-size: 15px;
            margin-top: 7em;
}

.infoText {
    font-weight: bold;
    }
    .infoText h1, .infoText h2 {
        text-align: center;
    }
    .infoText img, .infoText table {
        margin: auto;
    }
    .infoText h2:hover, #navDropdownList li:hover {
        cursor: pointer;
        text-decoration: underline;
}

#carousel-generic {
    margin: 1em;
    display: none;
    background: none;
    }
    .carousel-inner, .carousel-inner > .item > img {
        margin: auto;
        width: auto;
        height: 400px;
    }
    .carousel-inner {
        margin-bottom: 50px;
    }
    .carousel-indicators {
        bottom: -50px;
}

@media (max-width: 700px) {
    #loadingImage {
        height: 100px;
        width: 100px;
    }

    .backgroundImage { height: 200px; }

    .titleText h1, .titleText h2, .titleText h3 { width: 100%; border-radius: 0; }
        .titleText h1 { font-size: 25px; margin-top: 5em; }
        .titleText h2 { margin-top: -4em; }
        .titleText h3 { clear: both; margin-top: 11em;
    }

    .carousel-inner > .item > img { height: 250px; }
    .carousel-indicators { bottom: -90px; }
}
